{{>banner}}

<section class="py-3">
  <article class="container">

    <div class="row">
      

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/정수기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_1_coway.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">정수기</h6>
        </a>        
      </div>
      
      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/공기청정기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_2_coway.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">공기청정기</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/비데" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_3_coway.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">비데</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/의류청정기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_4_coway.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">의류청정기</h6>
        </a>         
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
       <a href="/list/매트리스" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_5_coway.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">매트리스</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3" data-toggle="modal" data-target="#cardModalCoway" style="cursor: pointer;">
          <div class="avatar mx-auto view overlay zoom shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_6_coway.png" class="rounded-circle z-depth-1-half img-fluid" style="width : 100%; cursor:pointer" alt="정수기">
          </div>
          <h6 class=" mt-2 text-body font-weight-bold">제휴카드</h6>
      </div>

       

      <div class="col-4 col-md d-none d-md-block mx-auto text-center p-3">
       <a href="/event" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/event_button.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">이벤트</h6>
        </a>        
      </div>


      {{!-- <div class="col-3 col-md mx-auto text-center p-3">
       <a href="/list/리뷰" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_8.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">리뷰</h6>
        </a>        
      </div> --}}

      

      
    </div>


  </article>
</section>


{{!-- 공통 부분 분리 --}}
{{>indexbody}}



<section class="my-3">



{{!-- <div class="container">
  <!--   -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <% data.categoryList.forEach(function(item, idx) { %>
        <li class="nav-item mx-auto">
          <a class="nav-link <%=(idx == 0)?'active':''%>" id="pills-<%=item.key%>-tab" data-toggle="pill" href="#pills-<%=item.key%>" role="tab" aria-controls="<%=item.key%>" aria-selected="true"><%=item.name%></a>
        </li>
      <% }) %>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <% data.categoryList.forEach(function(item, idx) { %>
        <div class="tab-pane fade show <%=(idx == 0)?'active':''%>" id="pills-<%=item.key%>" role="tabpanel">
          <div class="row">
          <%goodsList[idx].forEach(function(item) {%>
            <% include template/goodsLists.ejs %>
          <%})%>
        </div>
        </div>
      <% }) %>
    </div>


</div> --}}

</section>


<div class="container text-center  d-none d-md-block" style="position:relative; ">
   <hr class="hr_line" style="max-width : 1110px; width : 100%; left:inherit;">
   <span class=" h3 line_text font-weight-bold {{info.config.mainTextColor}}">제휴카드 안내</span>
</div>


<section class="container d-none d-md-block">
  
  <div class="row">

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">1. KB국민 코웨이Ⅱ카드</div>
      <div class="row">
      <div class="col-sm-6 text-center my-2 ">
          <img src="/assets/img/coway_card_1.png" class="" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " border="1" bordercolor="black" style="" style="">
            
              <tbody  class="col-12" >
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >40만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>
                <tr>
            
                  <td class="font-weight-bold py-2 border border-dark" >80만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>
           
              </tbody>
            </table>
                <div class="" style="word-break: keep-all">
                  <span class="">·코웨이 렌탈/맴버십 요금 15,000원~20,000원 청구할인</span><br>
                  <span class="">·연간 리워드 적립혜택</span><br>
                  <span class="">·놀이공원30~50% 현장 할인</span>
                  
                </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">2. 코웨이 NH 올원카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/coway_card_2.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>
                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>
                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >200만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >30,000원</td>
                 
                </tr>
              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">·렌탈료/맴버십 최대 30,000원 청구할인</span><br>
              <span class="">(전월 실적에 따라 할인 금액 변동)</span>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">3. 코웨이 플러스 하나카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/coway_card_3.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
       <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>
  
              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">·렌탈료/맴버십 최대 30,000원 청구할인</span><br>
              <span class="">(전월실적 30만원 이상시)</span>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">4. 코웨이 KB국민카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/coway_card_4.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용실적</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >60만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >90만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>
              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">· 코웨이 렌탈/맴버십 요금 1~2만원 청구 할인</span><br>
              <span class="">· 뷰티업종 5%청구할인</span><br>
              <span class="">· 이동통신요금 자동납부시 3천원 청구할인</span><br>
            
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">5. NEW 코웨이 우리카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/coway_card_5.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>

           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">· 렌탈료/맴버십 최대 20,000원 청구할인</span><br>
              <span class="">(전월 실적에 따라 할인 금액 변동)</span>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 mx-auto">
          <div class="h6 font-weight-bold">6. 코웨이 IBK카드</div>
          <div class="row">
            <div class="col-sm-6 text-center my-2">
              <img src="/assets/img/coway_card_7.png" style="width : 100%; max-width :260px;">
            </div>
            <div class="col-sm-6">
              <table class="table table-bordered text-center " style="">
                
                  <tbody  class="col-12">
                    <tr>
                
                      <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                      <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                        
                    </tr>

                    <tr>
          
                      <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                      <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                    
                    </tr>

                    <tr>
          
                      <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                      <td class="font-weight-bold py-2 border border-dark" >17,000원</td>
                    
                    </tr>

                    <tr>
          
                      <td class="font-weight-bold py-2 border border-dark" >120만원 이상</td>
                      <td class="font-weight-bold py-2 border border-dark" >23,000원</td>
                    
                    </tr>
                  
              
                  </tbody>
                </table>
                <div class="" style="word-break: keep-all">
                  <span class="">· 렌탈료/맴버십 최대 23,000원 청구할인</span><br>
                  <span class="">(전월 실적에 따라 할인 금액 변동)</span>
                </div>
            </div>
          </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">7. 코웨이 Slim할부 우리카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/coway_card_6.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">월 할인 한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>
              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">· 24/36개월 할부 이용 고객 月할부금 최대</span><br>
              <span class="">20,000원 청구할인(전월 실적에 따라 할인 금액 변동)</span><br>
              <span class="">· 모든 영화관 3,000원 청구할인</span><br>
              <span class="">· 스타벅스, 투썸플레이스 20% 청구할인</span><br>
              <span class="">· 패밀리 레스토랑(아웃백, TIGF) 10% 청구 할인</span><br>
              <span class="">· 놀이공원 50% 현장할인</span><br>
              
            </div>
        </div>
      </div>
    </div>

    

    <div class="col-lg-6 mx-auto">
     
    </div>




    

  </div>

</section>


{{!-- <div class="modal_button "style="position:fixed; top:92%; right:5%; opacity:0.5;">
  <i class="fas fa-comment-dots modal_content" style="font-size:30px;"></i>
</div> --}}

