<section class="container px-0"style="">
  <div id="carouselIndicators" class="carousel slide container px-0" data-ride="carousel">
    <ol class="carousel-indicators"style="">
      {{#bannerList}}
      <li data-target="#carouselIndicators" data-slide-to="{{@index}}" class="{{#ifCond @index 0}}active{{/ifCond}}"></li>
      {{/bannerList}}
    </ol>
    <div class="carousel-inner">
      {{#bannerList}}
      <div class="carousel-item {{#ifCond @index 0}}active{{/ifCond}}">
        <img src="{{pcImgPath}}" class="d-none d-md-block w-100 carousel_img_size" >
        <img src="{{mobileImgPath}}" class=" d-block d-md-none  w-100 carousel_img_size2" >
      </div>
      {{/bannerList}}
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>