<!-- SK Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/sk_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="SK 제휴카드">
      </div>
    </div>
  </div>
</div>

<!-- COWAY Modal -->
<div class="modal fade" id="cardModalCoway" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel2"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/coway_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="COWAY 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- cuckoo Modal -->
<div class="modal fade" id="cardModalcuckoo" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/cuckoo_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="cuckoo 제휴카드">
      </div>
    </div>
  </div>
</div>

<!-- nice Modal -->
<div class="modal fade" id="cardModalnice" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel4"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/nice_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="nice 제휴카드">
      </div>
    </div>
  </div>
</div>

<!-- hycare Modal -->
<div class="modal fade" id="cardModalhycare" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/hycare_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="hycare 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- welrix Modal -->
<div class="modal fade" id="cardModalwelrix" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel6"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/welrix_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="welrix 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- ruhens Modal -->
<div class="modal fade" id="cardModalruhens" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel7"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/ruhens_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="ruhens 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- wellsz Modal -->
<div class="modal fade" id="cardModalwells" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel8"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/wells_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="wells 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- hello Modal -->
<div class="modal fade" id="cardModalhello" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/hello_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="hello 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- bs Modal -->
<div class="modal fade" id="cardModalbs" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/bs_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="bs 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- cs Modal -->
<div class="modal fade" id="cardModalcs" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/cs_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="cs 제휴카드">
      </div>
    </div>
  </div>
</div>

<!-- real Modal -->
<div class="modal fade" id="cardModalreal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/real_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="real 제휴카드">
      </div>
    </div>
  </div>
</div>



<!-- smart Modal -->
<div class="modal fade" id="cardModalsmart" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/smart_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="smart 제휴카드">
      </div>
    </div>
  </div>
</div>


<!-- lg Modal -->
<div class="modal fade" id="cardModallg" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <div class="modal-body modal_size">
        <img src="/assets/img/lg_m_modal_card_img.jpg" class="card-img-top " style="width : 100%;" alt="lg 제휴카드">
      </div>
    </div>
  </div>
</div>