<section class="rental_footer py-4 mt-5 text-center" style="background-color:{{@root.info.config.mainColor}} !important; font-size:0.8rem;" >
  
    <div class="container">
<div class="row mx-0">
      <div class="col-md mx-0 text-left white-text" style="word-break: keep-all;">
          {{info.meta.title}}<br>
          법인명 : {{info.companyInfo.name}}<br>   대표: {{info.companyInfo.ceo}}<br>  사업자등록번호 : {{info.companyInfo.bizNumber}}<br>  통신판매업신고번호 : {{info.companyInfo.marketNumber}}<br>
          제품 및 서비스 문의 : {{info.companyInfo.phone}}    E-MAIL: {{info.companyInfo.email}}<br>주소 : {{info.companyInfo.address}}<br>
          본 사이트의 모든 콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.<br>
      </div>

      <div class="col-lg-3 pt-2 ml-0">
        <div class=" mx-auto">
          <img class="rental_logo_img" src="/assets/img/{{info.coopLogoFileNameFooter}}" style="-webkit-filter: brightness(0) invert(1); width:100px;"><br>
          <small class="white-text">Copyright@2019 {{info.meta.title}} All rights reserved</small>
        </div>
      </div>

    </div>
  </div>
  
  
</section>