<!-- Central Modal Small -->
<div class="modal fade" id="giftModal1" tabindex="-1" role="dialog" aria-labelledby="giftModal_1"aria-hidden="true">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">

  
    <div class="modal-content">
      <button type="button" class="btn btn-block mx-0 my-0 {{@root.info.config.subTextColor}}" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <img src="/assets/img/gift_img_2ccc.jpg" style="width : 100%;">
    </div>
  </div>
</div>
<!-- Central Modal Small -->


<!-- Central Modal Small -->
<div class="modal fade scroll_none" id="giftModal2" tabindex="-1" role="dialog" aria-labelledby="giftModal_2"aria-hidden="true">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">

  
    <div class="modal-content">
      <button type="button" class="btn btn-block mx-0 my-0 {{@root.info.config.subTextColor}}" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <img src="/assets/img/gift_img_1cc.jpg" style="width : 100%;">
    </div>
  </div>
</div>
<!-- Central Modal Small -->



<!-- Central Modal Small -->
<div class="modal fade scroll_none" id="giftModal3" tabindex="-1" role="dialog" aria-labelledby="giftModal_3"aria-hidden="true">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="btn btn-block mx-0 my-0 {{@root.info.config.subTextColor}}" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <img src="/assets/img/gift_img_3cc.jpg" style="width : 100%;">
    </div>
  </div>
</div>
<!-- Central Modal Small -->


<!-- Central Modal Small -->
<div class="modal fade scroll_none" id="giftModal4" tabindex="-1" role="dialog" aria-labelledby="giftModal_3"aria-hidden="true">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="btn btn-block mx-0 my-0 {{@root.info.config.subTextColor}}" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      <img src="/assets/img/gift_img_4.jpg" style="width : 100%;">
    </div>
  </div>
</div>
<!-- Central Modal Small -->

