<div class="sticky-top white mx-0 px-0">
  <div class="container">
    <div class="media py-3" style="height: 100px;">
      {{#if info.config.showLogo}}
      <img class="d-flex align-self-center ml-auto mr-2 gnb-logo" src="/assets/logo/{{info.gnb.logoFileName}}" style="max-width: 20vh; max-height: 7vh; cursor:pointer;" alt="회사 로고">
      <img class="d-flex align-self-center mr-auto ml-2 gnb-home" src="/assets/img/{{info.coopLogoFileName}}" style="max-width: 20vh; max-height: 7vh; cursor:pointer;" alt="렌탈모아샵 로고">
      {{else}}
      <img class="d-flex align-self-center mx-auto gnb-home" src="/assets/img/{{info.coopLogoFileName}}" style="max-width: 20vh; max-height: 7vh; cursor:pointer;" alt="렌탈모아샵 로고">
      {{/if}}
      
    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg {{info.config.navType}} mx-0" style="background-color:{{info.config.mainColor}} !important;  position: relative;">
    <!-- Navbar brand -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-block d-lg-none" href="tel:{{info.config.phone}}" style="position: absolute; left:50%; transform:translateX(-50%); top:6px;">
      {{!-- {{info.meta.title}} --}}
      {{info.companyInfo.phone}}
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto rental-gnb">
        {{#info.gnb.menu}}
        <li class="nav-item mr-3">
          <a class="nav-link" href="/list/{{encodeURI this}}">{{this}}</a>
        </li>
        {{/info.gnb.menu}}
      </ul>
    </div>
  </nav>
</div>


<section id="main_sub_menu"class="fixed_menu d-none d-lg-block" style="position: fixed; right:3%; z-index:999999;">
  <div class="row">
    <button id="home_menu" type="button" class="btn btn-primary btn_size  light-blue darken-4" style="" onclick="location.href='//{{info.domain}}'" >
      <i class="fas fa-home "style="font-size: 20px;"></i>&nbsp;<span class="h6 fiexd_menu_text">렌탈모아샵</span>
    </button>
  </div>
{{#if @root.info.config.kakao}}
  <div class="row">
    <button id="kakao_menu" type="button" class="btn btn_size" style="background:#fae100;" onclick="location.href='{{@root.info.config.kakao}}'">
      <i class="fas fa-comment"style="font-size: 20px;"></i>&nbsp;<span class="h6 fiexd_menu_text" style="color:#3c1e1e">카톡상담</span>
    </button>
  </div>
{{/if}}

{{#if @root.info.config.toctoc}}
  <div class="row">
    <button id="toktok_menu" type="button" class="btn btn_size green accent-4 text-white"  onclick="location.href='{{@root.info.config.toctoc}}'">
      <i class="fas fa-comment-alt"style="font-size: 20px;"></i>&nbsp;<span class="h6 fiexd_menu_text">톡톡상담</span>
    </button>
  </div>
{{/if}}

  <div class="row">
    <button id="mail_menu" type="button" class="btn btn_size text-white" style="background:{{@root.info.config.mainColor}}; "data-toggle="modal" data-target="#ask-call-modal" data-modelid="{{modelId}}">
      <i class="fas fa-envelope"style="font-size: 20px;"></i>&nbsp;<span class="h6 fiexd_menu_text">메일상담</span>
    </button>
  </div>

{{#if @root.info.config.phone}}
  <div class="row">
    <a href="tel:{{@root.info.config.phone}}">
      <button id="call_menu" type="button" class="btn btn-primary btn_size  light-blue lighten-2 text-dark" >
        <i class="fas fa-headset"style="font-size: 20px;"></i>&nbsp;<span class="h6 fiexd_menu_text " >{{@root.info.companyInfo.phone}}</span>
      </button>
    </a>
  </div>
{{/if}}
</section>



<script>
// active 처리  
$(document).ready(function() {
  var currentUrlInfo = decodeURI(window.location.pathname);

  $('.rental-gnb .nav-item').each(function(idx, item) {
    var matchData = currentUrlInfo.indexOf($(item).children().text());
    // console.log(matchData);
    if (matchData >= 0) {
      $(item).addClass('active');
    }
  });

  $('.gnb-logo').click(function() {
    window.location.href = '/';
  });
  $('.gnb-home').click(function() {
    window.location.href = '//{{info.domain}}';
  });

});
</script>