{{!-- 내려보기 모바일 --}}
<div class="d-block d-md-none">
  <section id="moreViewM" class="d-table text-center" style="scroll-margin-top: 151px; width:100%; height: 60px; background: {{info.config.mainColor}}; background: linear-gradient(90deg, {{info.config.mainColor}} 0%, {{info.config.secondColor}} 50%, {{info.config.mainColor}} 100%);">
    <a class="d-table-row" href="#moreViewM">
      <p class="d-table-cell align-middle white-text" style="font-size: 0.8rem;">기존 <span class="moreViewStrong">사은품</span> 과는 <span class="moreViewStrong">차별화</span> 된 특별 구성! <img src="/assets/img/arrow-down.png" style="width:2em;"> 내려보기</p>
    </a>
  </section>
</div>
{{!-- 내려보기 pc --}}
<div class="d-none d-md-block">
  <section id="moreViewD" class="d-table text-center" style="scroll-margin-top: 151px; width:100%; height: 100px; background: {{info.config.mainColor}}; background: linear-gradient(90deg, {{info.config.mainColor}} 0%, {{info.config.secondColor}} 50%, {{info.config.mainColor}} 100%);">
    <a class="d-table-row" href="#moreViewD">
      <p class="d-table-cell align-middle white-text" style="font-size: 1.8rem;">기존 <span class="moreViewStrong">사은품</span> 과는 <span class="moreViewStrong">차별화</span> 된 특별 구성! <img src="/assets/img/arrow-down.png" style="width:2em;"> 내려보기</p>
    </a>
  </section>
</div>

{{!-- 사은품 노출 영역 --}}

<section class="container px-0">
  <div class="col-12 px-0 pt-2">
    <img src="/assets/img/event_gift_img_1.jpg" style="width  :100%;">
  </div>
  
  <div class="row mx-0">
    <div class="col-6 pl-3 pr-1" data-toggle="modal" data-target="#giftModal3" data-modelid="" style="cursor: pointer;">
      <img src="/assets/img/event_gift_img_2.jpg" style="width  :100%;">
    </div>
    <div class="col-6 pr-3 pl-1" data-toggle="modal" data-target="#giftModal4" data-modelid="" style="cursor: pointer;">
      <img src="/assets/img/event_gift_img_3.jpg" style="width  :100%;">
    </div>
  </div>

  <div class="col-12 px-1">
    <img src="/assets/img/event_gift_img_4.jpg" style="width  :100%;">
  </div>


  <div class="row text-center mx-auto">
    <div class="col-4 px-0 ml-auto mr-1 text-right" data-toggle="modal" data-target="#giftModal1" data-modelid="" style="cursor: pointer;">
      <img src="/assets/img/event_gift_img_5.jpg" style="width  :85%;">
    </div>

    <div class="col-4 px-0 mr-auto ml-1 text-left" data-toggle="modal" data-target="#giftModal2" data-modelid="" style="cursor: pointer;">
      <img src="/assets/img/event_gift_img_6.jpg" style="width  :85%;">
    </div>
  </div>

  <div class="col-12 px-1 text-center">
    <img src="/assets/img/event_gift_img_7.jpg" class="mx-auto" style="width  :58.5%;">  </div>
</section>


{{!-- 
<section class="container px-0 d-block d-md-none">
  <div class="col-12 px-0" data-toggle="modal" data-target="#giftModal3" data-modelid="">
    <img src="/assets/img/event_modal_3c.jpg" style="width  :100%;">
  </div>

  <div class="row mx-0 ">
    <div class="col-6 px-0" data-toggle="modal" data-target="#giftModal2" data-modelid="">
      <img src="/assets/img/event_modal_1.jpg" style="width  :100%;">
    </div>
    <div class="col-6 px-0"  data-toggle="modal" data-target="#giftModal1" data-modelid="">
      <img src="/assets/img/event_modal_2.jpg" style="width  :100%; height:100%;">
    </div>
  </div>

  <div class="col-12 px-0">
    <img src="/assets/img/product_mobile_img_4.jpg" style="width : 100%;">
  </div>

  <div class="col-12 px-0">
      <img src="/assets/img/product_mobile_img_5c.jpg" style="width : 100%;">
    </div>

</section> --}}


{{!-- <section class="container px-0  d-none d-md-block">
  <div class="row mx-0 pt-2">

<!-- Central Modal Small -->
    
      <div class="col-3 mx-0 px-1"  style="cursor:pointer;"data-toggle="modal" data-target="#giftModal1">
        <img src="/assets/img/product_pc_img_2c.jpg" style="width  :100%; height:100%;">
      </div>

      <div class="col-3 mx-0 px-1"  style="cursor:pointer;"data-toggle="modal" data-target="#giftModal2">
        <img src="/assets/img/product_pc_img_1c.jpg" style="width  :100%; height:100%;">
      </div>

      <div class="col-6 mx-0 px-1"    style="cursor:pointer;"data-toggle="modal" data-target="#giftModal3">
        <img src="/assets/img/product_pc_img_3c.jpg" style="width:100%; height:100%;">
      </div>

  
  </div>
    <div class="py-2">
      <img src="/assets/img/product_pc_img_5.jpg" style="width : 100%;">
    </div>

    <div class="col-8 mx-auto">
      <img src="/assets/img/product_pc_img_6c.jpg" style="width : 100%;">
    </div>
</section> --}}

{{!-- 상담 및 상담 현황 --}}
<section class="container pt-3 my-3">
  <div class="row">

    <div class="col-lg-6 mx-auto my-2">
      <ul class="nav nav-tabs">
        <li class="nav-item" style="margin-bottom:-3px; border-bottom:0px;">
          <a class="nav-link active" href="#" style="border-top:2px solid #aaa; border-right:2px solid #aaa ;border-left:2px solid #aaa; border-bottom:0px; background:#efefef;">빠른 상담신청</a>
        </li>
      
      </ul>
       <div class="py-5 px-2 text-center consulting_height"style="border: 2px solid #aaa;border-top: 2px solid #aaa; height:453px; background:#efefef;">
          <img src="/assets/img/{{info.coopLogoFileName}}" style="width : 55%;"><br><br>
          {{!-- <div class="h3 font-weight-bold text-black-50" >상담신청</div><br> --}}
          <div class="h6">전화로 상담시 더욱 빠르고<br>정확한 상담이 가능합니다.</div><br>
          <div class="h2 text-black-50">{{info.companyInfo.phone}}</div>

          <button type="button" data-toggle="modal" data-target="#ask-call-modal" data-modelid=""class="btn btn-primary btn-rounded col-6 my-3" style="border-radius: 25px 25px 25px 25px;">상담 신청하기</button>
        </div>
    </div>

    <div class="col-lg-6 mx-auto my-2" style="">
      <ul class="nav nav-tabs" style="border-bottom : 2px solid #aaa;">
        <li class="nav-item" style="margin-bottom:-3px;">
          <a class="nav-link active" style="border-top:2px solid #aaa; border-right:2px solid #aaa ;border-left:2px solid  #aaa; border-bottom:0px; background:#efefef;" href="#">상담신청 현황</a>
        </li>
      
      </ul>
       <div id="realtime_list" class=" px-2"style="border: 2px solid #aaa;border-top: 0px solid #aaa;  height: 453px !important; background:#efefef; overflow:hidden; position:relative;"  >
         
         <table id="customer_list" class="table table-borderless text-center" style="position:absolute;">
          <tbody id="customer_table">
            
          </tbody>
        </table>

       
       </div>
    </div>

  </div>
</section>

{{!-- 필요한 플러그인 설치 --}}
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script>
  $(document).ready(function() {

    var tableListTemplate = [];
    var nameList = ['김','이','박','최','정','한','제','강','조','윤','장','임','오','서','신','권','황','안','송','전','홍','유','고','문','양','손','배','백','허','남','심','노','하','곽','성','차','주','구','민','함','변','추','노','여'];
    var nameList2 = ['수','호','훈','철','식','민','환','은','진','경','영','길','서','주','윤','성','후','희','숙','현','연','일','배'];  
    var curStatus = [
      '<span class=" light-blue lighten-3 text-white  lighten-2 py-1 px-1 " style="border-radius: 15px; padding:10px 20px !important; min-width : 50px !important; word-break:keep-all;">완료</span>',
      '<span class=" grey darken-1 text-white  lighten-2 py-1 px-1 " style="border-radius: 15px; padding:10px 20px !important; word-break:keep-all;">접수</span>',
      '<span class=" grey darken-1 text-white lighten-2 py-1 px-1 " style="border-radius: 15px; padding:10px 20px !important; word-break:keep-all;">대기</span>',
    ];
    // 고객 리스트 무작위 생성
    var maxCustomerCount = 20;
    for (var i=0; i < maxCustomerCount; i++) {
      
      // 날짜 가져오기
      var thisDate = moment().subtract(_.random(0, 3), 'days').format('YYYY-MM-DD');
      var thisNumber = String(_.random(0, 9)) + String(_.random(0, 9)) + String(_.random(0, 9)) + String(_.random(0, 9));
      // 데이터 생성
      tableListTemplate[i] = '';
      tableListTemplate[i] += '<tr>';
      tableListTemplate[i] +=  '<th scope="row">'+thisDate+'</th>';
      tableListTemplate[i] +=  '<td class="d-none d-md-block">010-****-'+thisNumber+'</td>';
      tableListTemplate[i] +=  '<td>'+nameList[_.random(0, nameList.length-1)]+'*'+nameList2[_.random(0, nameList2.length-1)]+'님</td>';
      tableListTemplate[i] +=  '<td class=" " >'+curStatus[_.random(0, curStatus.length-1)]+'</td>';
      tableListTemplate[i] += '</tr>';
    }

    // 맨 밑에 상단과 같은 내용을 다시 추가함 8개
    for (var i = maxCustomerCount; i < maxCustomerCount+8; i++) {
      tableListTemplate[i] = tableListTemplate[i-maxCustomerCount];
    }

    // 자료 밀어넣기
    tableListTemplate.forEach(function(item) {
      $("#customer_table").append(item);
    });

    function scrollUp(){
      // 고객 리스트를 위로 올리는 애니메이션
      $( "#customer_list" ).animate({
        top:"-=56px",
      }, 500, function() {
        // Animation complete.
        // console.log($( "#customer_list").position().top);
        // 일정 이상 값이 된다면 처음으로 되돌림
        if($( "#customer_list").position().top < -1100){
          $("#customer_list").css({ top: '0px' });
        }
      });
    }

    setInterval(scrollUp,2000);

  });
</script>