<section class="fixed-bottom d-block d-md-none "style="z-index:5; ">


<div class="col-2  mr-auto text-center p-3 " style="width : 22%; max-width: 100px;">
 <a href="/event" class="" >
    <div class="view overlay zoom border shadow" style="border-radius: 50%;background:white;">
      <img src="/assets/img/{{info.config.eventImg}}" class="img-fluid " alt="이벤트 버튼">
      <div class="mask flex-center" style="cursor: pointer !important;">
      </div>
    </div>
      <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">이벤트</h6>
  </a>        
</div>




<div class=" mx-0 text-center  py-2" style="background:rgba(0,0,0,0.7);z-index:9999;">
  <div class="row">
    {{#if @root.info.config.phone}}
    <div class="col px-0 mx-auto d-block d-md-none">
      <a href="tel:{{@root.info.config.phone}}" target="_blank">
        <img src="/assets/img/m_bottom_button_1c.png" style="width : 40%;">
        {{!-- <button class="btn btn-dark-green  py-3 px-4 " style="border-radius:25px;"><i class="fas fa-phone"></i> 전화</button> --}}
      </a>
    </div>
    {{/if}}
    {{#if @root.info.config.kakao}}
    <div class="col px-0 mx-auto">
      <a href="{{@root.info.config.kakao}}" target="_blank">
        <img src="/assets/img/m_bottom_button_2.png" style="width : 40%;">
        {{!-- <button class="btn btn-warning py-3 px-4" style="border-radius:25px;"><i class="fas fa-comment"></i> 카톡</button> --}}
      </a>
    </div>
    {{/if}}
     {{#if @root.info.config.toctoc}}
    <div class="col px-0 mx-auto">
      <a href="{{@root.info.config.toctoc}}" target="_blank">
      <img src="/assets/img/m_bottom_button_3.png" style="width : 40%;">
      {{!-- <a href="{{@root.info.config.toctoc}}" target="_blank"><button class="btn btn-warning py-3 px-4" style="border-radius:25px;"><i class="fas fa-comment"></i> 카톡</button></a> --}}
      </a>
    </div>
    {{/if}}
   

    <div class="col px-0 mx-auto">
      <img src="/assets/img/m_bottom_button_4c.png" style="width : 40%;" data-toggle="modal" data-target="#ask-call-modal" data-modelid="{{modelId}}">
      {{!-- <button data-toggle="modal" data-target="#ask-call-modal" data-modelid="{{modelId}}"
        class="btn {{@root.info.config.subTextColor}} py-3 px-4 quick-contact" 
        style="background-color:{{@root.info.config.mainColor}} !important; border-radius:25px;"><i class="fas fa-envelope"></i> 문의
      </button> --}}
    </div>
  </div>
</div> 

</section>