<!-- 문의 모달 -->
<div id="ask-call-modal" class="modal fade scroll_none" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"aria-hidden="true" style="width : 100%; padding-right:0px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>

      <section class="container py-3" id="ask">
        <div class="askmodal_main_img text-center" >
          <img src="/assets/img/ask_main_img.jpg" style="width : 100%; !important;">
        </div>


        <div class="row modal_size">
          <div class="col-10 mx-auto" style="">

            <div class="row py-5">
              <div class="mx-auto h4 text-dark text-center">
                <p class="h2">빠른상담</p><br>
                <p class="h5">문의가능 시간대를 기입해주시면 더 원활한 상담이 가능합니다</p>
              </div>
            </div>


            <form class="form-horizontal form-material" id="contact-form" name="frm2" method="post" action="//{{info.mailer}}" onsubmit="alert('문의가 정상적으로 발송 되었습니다.')">
              <input type="hidden" name="companyId" value="{{info.companyId}}">
              <input type="hidden" name="companyName" value="{{info.meta.title}}">
              <input type="hidden" name="companyMail" value="{{info.companyMail}}">

              <div class="row">
                <!-- -->
                <div class="col-12">
                  <div class="form-group">
                    <label class="col-md-12 text-center">제품명 및 모델명</label>
                    <div class="col-md-12">
                      <input type="text" id="modalProductInfo" name="modalProductInfo" placeholder="ex) 정수기, 공기청정기"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>

                <div class="col-lg py-4">
                  <div class="form-group">
                    <label class="col-md-12 text-center">성함</label>
                    <div class="col-md-12">
                      <input type="text" name="name" placeholder="ex) 홍길동 , 회사명"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>


                <div class="col-lg py-4">
                  <div class="form-group">
                    <label class="col-md-12 text-center">연락 가능한 연락처</label>
                    <div class="col-md-12">
                      <input type="text" name="phone" placeholder="ex) 연락처"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 py-4">
                  <div class="form-group">
                    <label class="col-md-12 text-center">연락 가능한 시간대</label>
                    <div class="col-md-12">
                      <input type="text" name="callTime" placeholder="ex) 오후 아무때나"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <!-- 문의내용 -->
                    <label class="col-md-12 text-center">문의내용</label>
                    <div class="col-md-12">
                      <input type="text" name="message" placeholder="ex) 렌탈, 상품문의 , 사은품문의"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>


              </div>


              <div class="text-center py-5">
                <button class="btn {{@root.info.config.subTextColor}} btn_radius btn_ask_mail" style="background-color:{{@root.info.config.mainColor}} !important">문의 남기기</button>
              </div>
            </form>

          </div>
        </div>
      </section>

    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.quick-contact').click(function () {
      $('#modalProductInfo').val($(this).data('modelid'));
    });
  });
</script>