<section class="mt-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mx-auto py-4 media">
                <img class="shadow-sm align-self-center" alt="상품 썸네일" src="{{goodsDetail.thumbnailImgPath}}" data-holder-rendered="true" style="width:100%">
              </div>
              <div class="col-md-6">
                <strong class="d-inline-block mb-2 text-success">{{goodsDetail.category}}</strong>
                <h3 class="mb-0 text-center">
                  <span class="text-dark">{{goodsDetail.goodsName}}</span>
                </h3>
                <table class="table table-sm table-borderless mt-3 mb-auto">
                  <tbody>
                    <tr class="border-top">
                      <td class="text-right text-muted" style="width:35%">제품명</td>
                      <td>{{goodsDetail.goodsName}}<br>
                        <span class="text-muted">({{goodsDetail.goodsNameDesc}})</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right text-muted">모델명</td>
                      <td>{{goodsDetail.modelId}}</td>
                    </tr>
                    <tr>
                      <td class="text-right text-muted">월 렌탈료</td>
                      <td>{{goodsDetail.monthPrice}}원</td>
                    </tr>
                    <tr>
                      <td class="text-right text-muted">제휴 카드 할인가</td>
                      <td>{{goodsDetail.cardPrice}}원</td>
                    </tr>
                    <tr>
                      <td class="text-right text-muted">의무 사용 기간</td>
                      <td>{{goodsDetail.contractPeriod}}개월</td>
                    </tr>
                    <tr class="border-bottom">
                      <td class="text-right text-muted">소유권 이전</td>
                      <td>{{goodsDetail.ownershipPeriod}}개월</td>
                    </tr>
                    <tr>
                      <td class="text-right text-muted">특징</td>
                      <td>
                        <pre style="white-space: pre-wrap;">{{goodsDetail.goodsDetail}}</pre>
                      </td>
                    </tr>
                  </tbody>
                </table>
                {{#if @root.info.config.phone}}
                <a href="tel:{{@root.info.config.phone}}" target="_blank" class="d-block d-md-none">
                  <button type="button" class="btn btn-dark-green btn-block"><i class="fas fa-phone"></i> 바로 전화</button>
                </a>
                {{/if}}
                {{#if @root.info.config.kakao}}
                <a href="{{@root.info.config.kakao}}" target="_blank">
                  <button type="button" class="btn btn-warning btn-block"><i class="fas fa-comment"></i> 카카오톡 문의</button>
                </a>
                {{/if}}
                {{#if @root.info.config.toctoc}}
                <a href="{{@root.info.config.toctoc}}" target="_blank">
                  <button type="button" class="btn btn-success btn-block"><i class="fas fa-comment-alt"></i> 톡톡 상담</button>
                </a>
                {{/if}}
                <button data-toggle="modal" data-target="#ask-call-modal" data-modelid="{{goodsDetail.modelId}}"
                  type="button" class="btn {{@root.info.config.subTextColor}} btn-block quick-contact" data-toggle="modal"
                  data-target="#orderModal"
                  style="background-color:{{@root.info.config.mainColor}} !important"
                  ><i class="fas fa-envelope"></i> 문의 남기기</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <div class="card">
          <div class="card-body">
            {{{goodsDetail.htmlTop}}}
            <img src="{{goodsDetail.detailImgPath}}" style="width:100%;">
            {{{goodsDetail.htmlBottom}}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>