<section class="mt-5">
  <div class="container">
    <div class="text-center">
      <h1>이벤트</h1>
      <h4 class="text-muted">매월 달라지는 이벤트를 확인 해보세요!</h4>
    </div>
    <hr>
    {{#unless eventList}}
    <div class="text-center mt-5">
      <h3>진행중인 이벤트가 없습니다.</h3>
    </div>
    {{/unless}}
    <div class="row">
      {{#eventList}}
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="{{titleImgPath}}" alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">{{name}}</h4>
            <!-- Text -->
            <p class="card-text">{{desc}}</p>
            <p class="card-text">기간: {{startTime}} ~ {{endTime}}{{#unless endTime}}이벤트 종료 시까지{{/unless}}</p>
            <!-- Button -->
            <button data-toggle="modal" data-target="#eventModal{{@index}}" class="btn {{@root.info.config.subTextColor}} btn-block" style="background-color:{{@root.info.config.mainColor}} !important">이벤트 보기</button>
          </div>

        </div>
        <!-- Card -->
        <!-- Card modal -->
        <div class="modal fade" id="eventModal{{@index}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <button type="button" class="btn {{@root.info.config.subTextColor}} rounded-0" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
              <div class="modal-body modal_size">
                <img src="{{viewImgPath}}" class="card-img-top " style="width : 100%;" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- Card modal -->
      </div>
      {{/eventList}}
    </div>


  </div>
</section>