<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151169341-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151169341-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-579GC7K');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{{info.meta.title}}</title>
    <link rel="canonical" href="{{info.meta.canonical}}">
    <link rel="shortcut icon" href="/assets/img/{{info.meta.faviconName}}">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{info.meta.description}}">
    <meta name="keyword" content="{{info.meta.keyword}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{info.meta.title}}">
    <meta property="og:description" content="{{info.meta.description}}">
    <meta property="og:image" content="{{info.meta.ogImage}}">
    <meta property="og:url" content="{{info.meta.ogUrl}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- bootstrap4.3.1 cdn -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- font awesome -->
    <link href="/fa/css/all.min.css" rel="stylesheet">

    <!-- mdb -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

    <!-- underscore -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <!-- css -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/scrollbar.css" rel="stylesheet">
  </head>
  <body>   
    {{#if info.gnb.on}}
    {{>gnb}}
    {{/if}}
    {{{body}}}
    {{#if info.gnb.on}}
    {{>footer}}
    {{>mobilenBottomMenu}}
    {{/if}}
    {{>orderModal}}
    {{>cardModal}}
    {{>gift_modal}}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

  </body>
</html>
