<!-- 하위 카테고리 표시 -->
<section class="mt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-6 col-md-3">
        <a href="/list/{{{encodeURI @root.cateParent}}}">
          <button class="btn btn-block btn-light m-0 mb-3 mx-auto px-1 cate2listAll">전체 상품</button>
        </a>        
      </div>
      {{#cate2}}
      <div class="col-6 col-md-3">
        <a href="/list/{{{encodeURI @root.cateParent}}}/{{{encodeURI name}}}">
          <button class="btn btn-block btn-light m-0 mb-3 mx-auto px-1 cate2list">{{name}}</button>
        </a>        
      </div>
      {{/cate2}}
    </div>
  </div>
</section>

<script>
  // 하위 카테고리 active 처리
  $(document).ready(function() {

    function activeObj($obj) {
      $obj.removeClass('btn-light');
      //console.log('this obj bg color',$obj.css('background-color'));
      $obj.css('background-color', '{{info.config.mainColor}}', 'important');
      $obj.addClass('{{info.config.subTextColor}}')
    }

    var matchCount = 0;
    $('.cate2list').each(function(idx, item) {
      // console.log(matchData);
      if ($(item).text() == '{{curCate}}') {
        activeObj($(item));
        matchCount++
      }
    });
    if (matchCount == 0) {
      activeObj($('.cate2listAll'));
    }
  });  
</script>

<section class="mt-5">
  <div class="container">
    <div class="row">
      {{#goodsList}}
      <div class="col-xl-4 col-md-6 col-12 mb-4 mx-auto ">
        <div class="card  shadow mx-auto hover_event_list" onMouseOver="this.style.outline='2px solid {{@root.info.config.mainColor}}'"onMouseOut="this.style.outline='0px solid {{@root.info.config.mainColor}}'">
          <a href="/detail/{{goodsId}}">
            <img src="{{thumbnailImgPath}}" class="card-img-top  p-3 mb-2 bg-white "style="border-bottom: 1px solid #dee2e6!important;">
          </a>

          <table class="table table-borderless mb-0">
            <tbody>
              <tr class="border-bottom">
                <td class="text-dark h5 font-weight-bold text-center align-middle" colspan="2"
                  style="height:125px !important;">{{goodsName}}<br>{{modelId}}</td>
              </tr>
              <tr class="border-bottom">
                <th scope="row" class="h5 font-weight-bold text-dark" style="text-align: right; width:50%;">케어솔루션<br>월요금</th>
                <td style="text-align: right;">
                  <b class="product_price h4 {{@root.info.config.mainTextColor}}">{{monthPrice}}원</b><br><small class="">[{{contractPeriod}}개월]</small><br>
                </td>
              </tr>
              <tr class="border-bottom">
                <th scope="row" class="h5 font-weight-bold text-dark" style="text-align: right; width:50%;">제휴카드<br>최대 할인시
                </th>
                <td style="text-align: right;">
                  <b class="card_price h4 {{@root.info.config.mainTextColor}}">{{cardPrice}}원</b><br>
                  <small class="text-dark">[{{contractPeriod}}개월]</small><br>
                </td>
              </tr>
              <tr class="border-bottom">
                <td class="text-muted h6 py-2 align-middle text-center" colspan="2">
                  <div class="overflow-auto scrollbar-muted" style="height: 58px;">
                    <p class="mb-0">{{goodsNameDesc}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-center py-1">
                  <div class="row">
                    {{#if @root.info.config.phone}}
                    <div class="col px-0 mx-auto d-block d-md-none">
                      <a href="tel:{{@root.info.config.phone}}" target="_blank"><button class="btn btn-dark-green  py-1 px-2 "><i class="fas fa-phone"></i> 전화</button></a>
                    </div>
                    {{/if}}
                    {{#if @root.info.config.kakao}}
                    <div class="col px-0 mx-auto">
                      
                      <a href="{{@root.info.config.kakao}}" target="_blank"><button class="btn btn-warning py-1 px-2"><i class="fas fa-comment"></i> 카톡</button></a>
                    </div>
                    {{/if}}
                    {{#if @root.info.config.toctoc}}
                    <div class="col px-0 mx-auto">
                      <a href="{{@root.info.config.toctoc}}" target="_blank"><button class="btn btn-success py-1 px-2"><i class="fas fa-comment-alt"></i> 톡톡</button></a>
                    </div>
                    {{/if}}
                    <div class="col px-0 mx-auto">
                      <button data-toggle="modal" data-target="#ask-call-modal" data-modelid="{{modelId}}"
                        class="btn {{@root.info.config.subTextColor}} py-1 px-2 quick-contact"
                        style="background-color:{{@root.info.config.mainColor}} !important"><i class="fas fa-envelope"></i> 문의</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/goodsList}}
    </div>
  </div>
</section>



