<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{{info.meta.title}}</title>
    <link rel="canonical" href="{{info.meta.canonical}}">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{info.meta.description}}">
    <meta name="keyword" content="{{info.meta.keyword}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{info.meta.title}}">
    <meta property="og:description" content="{{info.meta.description}}">
    <meta property="og:image" content="{{info.meta.ogImage}}">
    <meta property="og:url" content="{{info.meta.ogUrl}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- bootstrap4.3.1 cdn -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- font awesome -->
    <link href="/fa/css/all.min.css" rel="stylesheet">

    <!-- mdb -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

    <!-- underscore -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    
    <!-- css -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/scrollbar.css" rel="stylesheet">
  </head>
  <body>   

    <div class="jumbotron card card-image m-0" style="width: 100vw; height: 100vh; background: url('/assets/img/comming_soon.jpg')no-repeat; background-size:cover;">
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>곧 오픈 예정입니다. 감사합니다.</strong></h2>
          <p class="mx-5 mb-5">바로 여기 이곳 / 원하는 브랜드, 원하는 제품을 한 눈에
          </p>
          <a class="btn btn-outline-white btn-md" onclick="window.history.back(); return;" ><i class="fas fa-angle-left"></i> 돌아가기</a>
        </div>
      </div>
    </div>
    
  </body>
</html>

