@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  /* padding: 50px; */
  font: 14px 'Noto Sans KR', "Lucida Grande", Helvetica, Arial, sans-serif;
  word-break: keep-all;
}
.grid {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
  width: 85vw;
  max-width: 90vh;
  height: 85vw;
  max-height: 80vh;
  font-size: 1rem;
}
.row {
  display: flex;
}
.box {
  /* opacity: 0.2; */
  margin: 2px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
}
.box:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  transition: background-color 0.5s ease;
  /* transition: border 0.5s ease; */
  border: 1px solid #bbbbbb;
  background: #ffffff77;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .inner:hover {
  background: #ffffffee;
  border: 1px solid #000000;
}

.modal_button{
  width : 3rem;
  height: 3rem;
  background: #aaa;
  text-align: center;
  position: relative;
  border-radius:50%; 

}
.modal_content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.modal_button:hover{
  opacity: 1 !important;
}

.scroll_none::-webkit-scrollbar {
  display:none;


  } 
  

.line_text {
    margin: 0;
    background-color: white;
    z-index: 1000;
    display: inline-block;
    margin: 0 auto;
    padding: 50px;
}

.hr_line {
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
    margin: 0;
    z-index: -1000;
    border-top:2px solid #aaa;
}


.btn_size{
  min-width: 175px;
}

@media (max-width : 1500px){
  .fiexd_menu_text{
    display: none;
  }

  .btn_size{
    min-width: inherit;
  }
}

@media (max-width : 580px){
  .consulting_height{
    height: auto !important;
    padding: 1rem 1rem !important;
  }
}



/* .none_scroll::-webkit-scrollbar{
  display:none;
}

   */
  


/* .carousel-indicators li{
  background-color: #CC0033;
  border-radius: 50%;
  height: 15px;;
}

.carousel-indicators{
  left: 200px !important;
  margin-right:5% !important;
  margin-left:0% !important;
} */

/* @media (min-width : 768px){
  .col-md-2_c{
  flex: 0 0 16.666667%;
  max-width: 12.5%;
  }
 
} */


/* @media (max-width : 768px){
  .rental_footer{
    margin-bottom: 3rem !important;
  }
}

@media (max-width : 576px){
  .rental_footer{
    margin-bottom: 10rem !important;
  }

  .modal_size{
    margin-bottom: 7rem !important;
  }
} */



/* 케러셀 위치 */
.carousel-indicators{
   margin-left:0px !important;
   margin-right:0px !important;
   right:5% !important;
   left:inherit !important;
}

.carousel .carousel-indicators li{
  width : 0.825rem;
  height: 0.825rem;
}

/* gnb에서 선택 영역 색상 강조 */
.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  background-color: rgba(255,255,255,.25);
}
.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  background-color: rgba(0,0,0,.2);
}

/* 메인 최상단 스타일 */
.main-title-top button {
  font-size: 1rem;
  margin-top: 10px !important;
}
.main-title-top button:hover {
  color: #ccc;
}

@media (max-width : 768px){
  .main-title-top button {
    font-size: 0.7rem;
  }
}

/* 내려보기 */
.moreViewStrong {
  font-style: italic;
  font-size: 1.2em;
  font-weight: bold;
}