{{>banner}}

<section class="py-3">
  <article class="container">

    <div class="row">
      

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/정수기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_1_nice.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">정수기</h6>
        </a>        
      </div>
      
      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/공기청정기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_2_nice.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">공기청정기</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/비데" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_3_nice.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">비데</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/전기레인지" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_4_nice.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">전기레인지</h6>
        </a>         
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
       <a href="/list/에어드레서" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_5_nice.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">에어드레서</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3" data-toggle="modal" data-target="#cardModalnice" style="cursor: pointer;">
          <div class="avatar mx-auto view overlay zoom shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_6_nice.png" class="rounded-circle z-depth-1-half img-fluid" style="width : 100%; cursor:pointer" alt="정수기">
          </div>
          <h6 class=" mt-2 text-body font-weight-bold">제휴카드</h6>
      </div>

       

      <div class="col-4 col-md d-none d-md-block mx-auto text-center p-3">
       <a href="/event" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/event_button.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">이벤트</h6>
        </a>        
      </div>


      {{!-- <div class="col-3 col-md mx-auto text-center p-3">
       <a href="/list/리뷰" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_8.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">리뷰</h6>
        </a>        
      </div> --}}

      

      
    </div>



  </article>
</section>


{{!-- 공통 부분 분리 --}}
{{>indexbody}}






<section class="my-3">



{{!-- <div class="container">
  <!--   -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <% data.categoryList.forEach(function(item, idx) { %>
        <li class="nav-item mx-auto">
          <a class="nav-link <%=(idx == 0)?'active':''%>" id="pills-<%=item.key%>-tab" data-toggle="pill" href="#pills-<%=item.key%>" role="tab" aria-controls="<%=item.key%>" aria-selected="true"><%=item.name%></a>
        </li>
      <% }) %>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <% data.categoryList.forEach(function(item, idx) { %>
        <div class="tab-pane fade show <%=(idx == 0)?'active':''%>" id="pills-<%=item.key%>" role="tabpanel">
          <div class="row">
          <%goodsList[idx].forEach(function(item) {%>
            <% include template/goodsLists.ejs %>
          <%})%>
        </div>
        </div>
      <% }) %>
    </div>


</div> --}}

</section>


<div class="container text-center  d-none d-md-block" style="position:relative; ">
   <hr class="hr_line" style="max-width : 1110px; width : 100%; left:inherit;">
   <span class=" h3 line_text font-weight-bold {{info.config.mainTextColor}}">제휴카드 안내</span>
</div>


<section class="container d-none d-md-block">
  
  <div class="row">

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold"> 1. 청호나이스 플러스 하나카드</div>
      <div class="row">
      <div class="col-sm-6 text-center my-2 ">
          <img src="/assets/img/nice_card_1.png" class="" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " border="1" bordercolor="black" style="" style="">
            
              <tbody  class="col-12" >
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">전월실적</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>

              </tbody>
            </table>

              
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">2. 청호나이스 우리카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/nice_card_2.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">전월실적</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>

                   <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >16,000원</td>
                 
                </tr>

                   <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>

              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 청호나이스 렌탈료 자동이체 필수</span><br>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">3. 청호나이스 신한카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/nice_card_3.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
       <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">전월실적</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>
            
  
              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 청호나이스 렌탈료 자동이체필수</span><br>
              <span class="">※ 주유비, 버스, 지하철, 택시, 테마파크, 영화 등 할인 제공</span><br>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">4. 청호나이스 스페셜 롯데카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/nice_card_4.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">전월실적</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >17,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >23,000원</td>
                 
                </tr>

              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 청호나이스 렌탈료 자동이체필수</span><br>
              <span class="">※ 장기할부 미사용시 렌탈 할인 서비스 제공</span><br>

            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">5. 청호나이스 KB국민카드</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/nice_card_5.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">전월실적</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인한도</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark">11,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>

           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 청호나이스 렌탈료 자동이체 필수 </span><br>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 mx-auto">
     
    </div>




    

  </div>

</section>


{{!-- <div class="modal_button "style="position:fixed; top:92%; right:5%; opacity:0.5;">
  <i class="fas fa-comment-dots modal_content" style="font-size:30px;"></i>
</div> --}}
