<section id="mainSection" class="background_bg pb-5"  style="height: 100%; min-height: 100vh; background:url('../assets/img/background/bg_main.jpg')no-repeat; background-attachment:fixed; background-size:cover; background-position: center center;">

  {{!-- 상단 타이틀 --}}
  <article class="py-3 main-title-top sticky-top bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md text-center">
          <img src="/assets/img/logo/hm_logo.png" class="mx-auto d-none d-md-block" style="width:100%;" alt="세상의 모든 렌탈 렌탈모아샵">
          <img src="/assets/img/logo/hm_logo.png" class="mx-auto d-block d-md-none" style="width:100%; padding: 0 80px;" alt="세상의 모든 렌탈 렌탈모아샵">
        </div>
        <div class="col-md-1"></div>
        <div class="col m-0">
          <button class="btn btn-block m-0 px-0 {{@root.info.config.subTextColor}}" style="background-color:{{@root.info.config.mainColor}} !important" data-toggle="modal" data-target="#ask-call-modal"><i class="fas fa-headset"></i> 빠른 상담</button>
        </div>
        <div class="col">
          <button class="btn btn-block m-0 px-0 {{@root.info.config.subTextColor}}" style="background-color:{{@root.info.config.mainColor}} !important"  data-toggle="modal" data-target="#mainGiftModal"><i class="fas fa-gift"></i> 특별 사은품</button>
        </div>

        {{!-- <a class="col" href="/partner"  onClick="window.open('/partner','pagename','resizable,height=700,width=460'); return false;" > --}}
          {{!-- <div class="col">
            <button class="btn btn-block m-0 px-0 {{@root.info.config.subTextColor}}"style="background-color:{{@root.info.config.mainColor}} !important" data-toggle="modal" data-target="#partnerModal" ><i class="far fa-handshake"></i> 파트너사 모집</button>
          </div> --}}
        {{!-- </a> --}}

      </div>
    </div>
  </article>

  <article class="main-title-top">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <img src="/assets/img/rental_main_title.png" class="mt-4" data-aos="zoom-in" data-aos-duration="3000" style="width:100%;" alt="세상의 모든 렌탈">
        </div>        
      </div>
    </div>
  </article>

  {{!-- 회사 리스트 --}}
  <article class="px-5" style="margin-top: 60px;">
    <div class="container">

      <div class="row">
        {{{rentalStr}}}
        <div class="col-md mb-3 mx-auto d-none d-md-block" style="opacity: 0;">
          <div class="card" style="border-radius: 10px; height:110.22px;" data-aos="fade-up">
            <div class="card-body text-center zoom">
              <a href="#">
                
              </a>              
            </div>
          </div>
        </div>
      </div>

    </div>
  </article>

  {{!-- 하단 --}}
  <article class="fixed-bottom pb-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 mx-auto">
          <div class="text-center">JINSUNG-HIC@ALL Rights Reserved.</div>
        </div>

      </div>
    </div>
  </article>

</section>


{{!-- 메인에만 쓰는 모달 팝업 --}}
<!-- 특별 사은품 -->
<div class="modal fade px-0" id="mainGiftModal" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">

  
    <div class="modal-content">
      <button type="button" class="btn btn-block mx-0 my-0 {{@root.info.config.subTextColor}}" data-dismiss="modal" style="background-color:{{@root.info.config.mainColor}} !important">닫기</button>
      
      <div class="row" style="padding: 0 15px;">
        <div class="col-12 px-0">
          <img src="/assets/img/modal/main_modal_img_1.jpg" style="width : 100%;">
        </div>
        <div class="col-12 px-0">
          <img src="/assets/img/modal/main_modal_img_2.jpg" style="width : 100%;">    
        </div>
        <div class="col-12 px-0">
          <img src="/assets/img/modal/main_modal_img_3.jpg" style="width : 100%;">
        </div>
        <div class="col-12 px-0">
          <img src="/assets/img/modal/main_modal_img_4.jpg" style="width : 100%;">
        </div>
        <div class="col-12 px-0">
          <img src="/assets/img/modal/main_modal_img_5.jpg" style="width : 100%;">
        </div>
        <div class="col-12 px-0">
          <img src="/assets/img/modal/main_modal_img_6.jpg" style="width : 100%;">
        </div>
      </div>
      
    </div>
  </div>
</div>


<!-- 파트너사 모집 -->
<div class="modal fade scroll_none" id="partnerModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-left:0px !important;">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">
{{!--  --}}
    <div class="modal-content">
      <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal">닫기</button>
      {{>partner_modal}}

    </div>
{{!--  --}}
  </div>
</div>



<div id="ask-partner-modal" class="modal fade scroll_none" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"aria-hidden="true" style="width : 100%; padding-right:0px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal" >닫기</button>

      <section class="container py-3" id="ask">
        <div class="askmodal_main_img text-center" >
          <img src="/assets/img/ask_main_img.jpg" style="width : 100%; !important;">
        </div>


        <div class="row modal_size">
          <div class="col-10 mx-auto" style="">

            <div class="row py-5">
              <div class="mx-auto h4 text-dark text-center">
                <p class="h2">파트너사 모집</p><br>
                <p class="h5">문의가능 시간대를 기입해주시면 더 원활한 상담이 가능합니다</p>
              </div>
            </div>


            <form class="form-horizontal form-material" id="contact-form" name="frm2" method="post" action="/mailer_partner" onsubmit="alert('문의가 정상적으로 발송 되었습니다.')">

              <div class="row">
                <!-- -->
            
                <div class="col-lg py-3">
                  <div class="form-group">
                    <label class="col-md-12 text-center">제휴자 성함</label>
                    <div class="col-md-12">
                      <input type="text" name="name" placeholder="ex) 홍길동 , 회사명"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>


                <div class="col-lg py-3">
                  <div class="form-group">
                    <label class="col-md-12 text-center">연락처</label>
                    <div class="col-md-12">
                      <input type="text" name="phone" placeholder="ex) 연락처"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>

             

                <div class="col-12 py-3">
                  <div class="form-group">
                    <!-- 문의내용 -->
                    <label class="col-md-12 text-center">문의내용</label>
                    <div class="col-md-12">
                      <input type="text" name="message" placeholder="ex) 렌탈, 상품문의 , 사은품문의"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>


              </div>


              <div class="text-center py-5">
                <button class="btn btn-primary btn_radius btn_ask_mail" style="background-color:!important">문의 남기기</button>
              </div>
            </form>

          </div>
        </div>
      </section>

    </div>
  </div>
</div>




<script>
  $(document).ready(function() {
    var windowWidth = $(window).width();
    bgResize();
    
    $(window).resize(function() {
      windowWidth = $(window).width();
      bgResize();
    });

    function bgResize() {
      if (windowWidth < 768) {
        $('#mainSection').css("background-image", "url('../assets/img/background/bg_main_m.jpg')"); // 모바일
      }
      else {
        $('#mainSection').css("background-image", "url('../assets/img/background/bg_main.jpg')"); // pc
      }
    }



 
</script>