{{!-- <div class="mx-0 px-0" style="position:relative; top:0px; width:100%">
  
    <img src="/assets/img/partner_all_img.jpg" usemap="#DonateMap" alt="DONATE" style="width : 100%;"/> 
      <map name="DonateMap"> 
        <area shape="rect" coords="283, 188, 509, 256" style="cursor:pointer;" data-toggle="modal" data-target="#ask-partner-modal"/>
      </map>


  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('map').imageMapResize();
    });
</script>





<!-- 문의 모달 -->
<div id="ask-partner-modal" class="modal fade scroll_none" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"aria-hidden="true" style="width : 100%; padding-right:0px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <button type="button" class="btn btn-primary rounded-0" data-dismiss="modal" >닫기</button>

      <section class="container py-3" id="ask">
        <div class="askmodal_main_img text-center" >
          <img src="/assets/img/ask_main_img.jpg" style="width : 100%; !important;">
        </div>


        <div class="row modal_size">
          <div class="col-10 mx-auto" style="">

            <div class="row py-5">
              <div class="mx-auto h4 text-dark text-center">
                <p class="h2">파트너사 모집</p><br>
                <p class="h5">문의가능 시간대를 기입해주시면 더 원활한 상담이 가능합니다</p>
              </div>
            </div>


            <form class="form-horizontal form-material" id="contact-form" name="frm2" method="post" action="/mailer_partner" onsubmit="alert('문의가 정상적으로 발송 되었습니다.')">

              <div class="row">
                <!-- -->
            
                <div class="col-lg py-3">
                  <div class="form-group">
                    <label class="col-md-12 text-center">제휴자 성함</label>
                    <div class="col-md-12">
                      <input type="text" name="name" placeholder="ex) 홍길동 , 회사명"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>


                <div class="col-lg py-3">
                  <div class="form-group">
                    <label class="col-md-12 text-center">연락처</label>
                    <div class="col-md-12">
                      <input type="text" name="phone" placeholder="ex) 연락처"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>

             

                <div class="col-12 py-3">
                  <div class="form-group">
                    <!-- 문의내용 -->
                    <label class="col-md-12 text-center">문의내용</label>
                    <div class="col-md-12">
                      <input type="text" name="message" placeholder="ex) 렌탈, 상품문의 , 사은품문의"
                        class="form-control form-control-line text-center" required
                        style="border:none; border-radius: 0px;  border-bottom:1px solid black;">
                    </div>
                  </div>
                </div>


              </div>


              <div class="text-center py-5">
                <button class="btn btn-primary btn_radius btn_ask_mail" style="background-color:!important">문의 남기기</button>
              </div>
            </form>

          </div>
        </div>
      </section>

    </div>
  </div>
</div>




<script>
  $(document).ready(function () {
    $('.quick-contact').click(function () {
      $('#modalProductInfo').val($(this).data('modelid'));
    });
  });
</script> --}}

 <div class=""style="position:relative; display: flex; flex-direction:column;">
    <button type="button"  onclick="location.href='/' " class="btn btn-primary rounded-0 h4" data-dismiss="modal">홈페이지로 이동하기</button>
      {{>partner_modal}}
  </div>