{{>banner}}

<section class="py-3">
  <article class="container">

    <div class="row">
      

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/정수기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_1_cuckoo.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">정수기</h6>
        </a>        
      </div>
      
      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/공기청정기" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_2_cuckoo.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">공기청정기</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/비데" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_3_cuckoo.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">비데</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
        <a href="/list/전기레인지" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_4_cuckoo.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">전기레인지</h6>
        </a>         
      </div>

      <div class="col-4 col-md mx-auto text-center p-3">
       <a href="/list/안마의자" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_5_cuckoo.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class=" mt-2 text-body font-weight-bold">안마의자</h6>
        </a>        
      </div>

      <div class="col-4 col-md mx-auto text-center p-3" data-toggle="modal" data-target="#cardModalcuckoo" style="cursor: pointer;">
          <div class="avatar mx-auto view overlay zoom shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_6_cuckoo.png" class="rounded-circle z-depth-1-half img-fluid" style="width : 100%; cursor:pointer" alt="정수기">
          </div>
          <h6 class=" mt-2 text-body font-weight-bold">제휴카드</h6>
      </div>

       

      <div class="col-4 col-md d-none d-md-block mx-auto text-center p-3">
       <a href="/event" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/event_button.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">이벤트</h6>
        </a>        
      </div>


      {{!-- <div class="col-3 col-md mx-auto text-center p-3">
       <a href="/list/리뷰" class="" >
          <div class="view overlay zoom border shadow" style="border-radius: 50%;">
            <img src="/assets/img/c_button_8.png" class="img-fluid " alt="smaple image">
            <div class="mask flex-center" style="cursor: pointer !important;">
            </div>
          </div>
           <h6 class="d-none d-md-block mt-2 text-body font-weight-bold">리뷰</h6>
        </a>        
      </div> --}}

      

      
    </div>

  


  </article>
</section>


{{!-- 공통 부분 분리 --}}
{{>indexbody}}




<section class="my-3">



{{!-- <div class="container">
  <!--   -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <% data.categoryList.forEach(function(item, idx) { %>
        <li class="nav-item mx-auto">
          <a class="nav-link <%=(idx == 0)?'active':''%>" id="pills-<%=item.key%>-tab" data-toggle="pill" href="#pills-<%=item.key%>" role="tab" aria-controls="<%=item.key%>" aria-selected="true"><%=item.name%></a>
        </li>
      <% }) %>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <% data.categoryList.forEach(function(item, idx) { %>
        <div class="tab-pane fade show <%=(idx == 0)?'active':''%>" id="pills-<%=item.key%>" role="tabpanel">
          <div class="row">
          <%goodsList[idx].forEach(function(item) {%>
            <% include template/goodsLists.ejs %>
          <%})%>
        </div>
        </div>
      <% }) %>
    </div>


</div> --}}

</section>


<div class="container text-center  d-none d-md-block" style="position:relative; ">
   <hr class="hr_line" style="max-width : 1110px; width : 100%; left:inherit;">
   <span class=" h3 line_text font-weight-bold {{info.config.mainTextColor}}">제휴카드 안내</span>
</div>


<section class="container d-none d-md-block">
  
  <div class="row">

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">1. 쿠쿠 스페셜 롯데카드(1577-8500)</div>
      <div class="row">
      <div class="col-sm-6 text-center my-2 ">
          <img src="/assets/img/cuckoo_card_1.png" class="" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " border="1" bordercolor="black" style="" style="">
            
              <tbody  class="col-12" >
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인액</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>
                <tr>
            
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >17,000원</td>
                 
                </tr>
                <tr>
            
                  <td class="font-weight-bold py-2 border border-dark" >120만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >23,000원</td>
                 
                </tr>
           
              </tbody>
            </table>
                <div class="" style="word-break: keep-all">
                  <span class="">※ 카드 발급 등록일 포함 1~2개월간 이용 실적 상관없이 할인가능</span><br>
                </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">2. 쿠쿠 하나카드(1800-1316)</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/cuckoo_card_2.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인액</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >13,000원</td>
                 
                </tr>

              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 카드 발급 등록일 포함 1~2개월간 이용 실적 상관없이 할인가능</span><br>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">3. 쿠쿠 우리카드(1599-9300)</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/cuckoo_card_3.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
       <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인액</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >30만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>
                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>
                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >20,000원</td>
                 
                </tr>
  
              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 카드 발급 등록일 포함 1~2개월간 이용 실적 상관없이 할인가능</span><br>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">4. 쿠쿠 국민카드(1899-0077)</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/cuckoo_card_4.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인액</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >50만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >100만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >15,000원</td>
                 
                </tr>

              
           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 카드 발급 등록일 포함 1~2개월간 이용 실적 상관없이 할인가능</span><br>

            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mx-auto">
      <div class="h6 font-weight-bold">5. 쿠쿠 신한카드(080-700-1070)</div>
      <div class="row">
        <div class="col-sm-6 text-center my-2">
          <img src="/assets/img/cuckoo_card_5.png" style="width : 100%; max-width :260px;">
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered text-center " style="">
            
              <tbody  class="col-12">
                <tr>
             
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">사용예시</td>
                  <td class="{{info.config.subTextColor}} font-weight-bold py-2 border border-dark" style="background-color:{{info.config.mainColor}} !important">할인액</td>
                     
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >50만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >7,000원</td>
                 
                </tr>

                <tr>
       
                  <td class="font-weight-bold py-2 border border-dark" >70만원 이상</td>
                  <td class="font-weight-bold py-2 border border-dark" >10,000원</td>
                 
                </tr>

           
              </tbody>
            </table>
            <div class="" style="word-break: keep-all">
              <span class="">※ 카드 발급 등록일 포함 1~2개월간 이용 실적 상관없이 할인가능</span><br>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 mx-auto">
     
    </div>




    

  </div>

</section>


{{!-- <div class="modal_button "style="position:fixed; top:92%; right:5%; opacity:0.5;">
  <i class="fas fa-comment-dots modal_content" style="font-size:30px;"></i>
</div> --}}

